body {
	background: #C4D7ED;
	margin: 0;
	font-family: 'Arima Madurai', cursive;
}

header {
	list-style: none;
	width: 100%;
	background: #E1E6FA;
	display: flex;
	flex-flow: row wrap;
	top: 0;
}

.menu {
	flex: 50%;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}

h2 {
	font-size: 15px;
	margin-left: 2em;
	color: #183152;
}

header a {
	text-decoration: none;
	display: block;
	padding: 1em;
	font-size: 15px;
}

header .autre_page:hover , .contactes:hover {
 	background: #375D81;
 	color: white;
	transition: all 0.3s linear;
}


.page_actuel {
	color: #E1E6FA;
	background-color: #183152;
}

.autre_page {
	color: #183152;
}


footer {
	list-style: none;
	width: 100%;
	background: #E1E6FA;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	left: 0;
	bottom: 0;
	position: fixed;
}

footer a {
	text-decoration: none;
	display: block;
	padding: 0.3em;
	color: #183152;
	text-align: center;
	font-size: 15px;
}

footer .legal {
	color: #375D81;
	font-size: 10px;
	text-align: center;
	flex: 100%;
}

footer img {
	margin-left: 1em;
}


.centrer {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.contenu {
	max-width: 60em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	background-color: white;
	padding: 2em;
}

.intro {
	display: flex;
	justify-content: center;
	background-color: #183152;
	margin-bottom: 2em; 
	padding-top: 2em;
	padding-bottom: 2em;
}


img.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;	
  display: block;

}

p.nom {
	display: block;
	margin-left: 5em;
	font-size: 22px;
	font-family: 'Lemonada', cursive;
	color: #E1E6FA;
	align-self: center;
}

.titre {
	background: #183152;
}

h1 {
	font-size: 22px;
	flex: 100%;
	text-align: center;
	color: #E1E6FA;
	font-family: 'Lemonada', cursive;
}

.sous-partie {
	padding: 1em;
	font-size: 12px;
	background-color: #E1E6FA;
	flex: 2;
	display: block;
	color: #183152;
	margin-bottom: 2em;
}

.enonce {
	color: green;
}


@media screen and (max-width: 750px) {
footer {
	position: relative;
}
.menu {
  flex: 100%;
  justify-content: flex-start;
}
}
